{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <div class="card">
        <div class="card-header bg-dark text-white">
            <h3>Perfil del Entrenador</h3>
        </div>
        <div class="card-body">
            <h4 class="card-title text-primary">{{ trainer.first_name }} {{ trainer.last_name }}</h4>
            <hr>
            
            <div class="row">
                <div class="col-md-6">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><strong>Edad:</strong> {{ trainer.age }}</li>
                        <li class="list-group-item"><strong>Nivel:</strong> {{ trainer.level }}</li>
                        <li class="list-group-item"><strong>Fecha de nacimiento:</strong> {{ trainer.date_of_birth }}</li>
                    </ul>
                </div>
                
                <div class="col-md-6 d-flex align-items-center justify-content-center">
                    <i class="fas fa-user-circle fa-5x text-secondary"></i>
                </div>
            </div>

            <div class="mt-4">
                <a href="{% url 'pokedex:trainers' %}" class="btn btn-secondary">
                    Volver a la lista
                </a>

                <a href="#" class="btn btn-warning">Editar</a>
                <a href="#" class="btn btn-danger">Eliminar</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}